#hero{
    height: 774px;
    width: 563px;
    background-color: rgb(0, 0, 0);
    padding: 50px;
}

.inner{
    margin: 100px auto;
    width: 450px;
    height: 450px;
    border-radius: 40px;
    background-image: url(./assets/images/pic.jpg);
    /* https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__340.jpg */
    /* background:linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(359, 92%, 46%, 1) 100%); */
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0px 0px 0px 20px 4px rgba(0,0,0,0.4);
}

#btn__{
    position: absolute;
    left: 30%;
    top: 40%;
}

@media (max-width:574px) {
    #hero{
        display: none;
    }
}